body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section p, h2{
    font-family: 'Playfair Display', serif;
    color: white;
}

#home{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("home.jpg"), repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    background-attachment: fixed;
}

#home *{
    z-index: 10;
}

#nav{
    width: 100%;
    height: 12vh;
    /* position: -webkit-sticky; */
    position: sticky;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav h1{
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 390;
    font-size: 30px;
}

.nav_list li{
    margin: 0;
    padding: 0;
}

.nav_list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav_list li a{
    text-decoration: solid;
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.nav_list li a:hover{
    color: #cda45e;
}

.book_table_btn{
    text-decoration: none;
    color: white;
    border: 2px solid #cda45e;
    padding: 7px 28px;
    border-radius: 30px;
    font-size: 14px;
}

.nav_list_container{
    width: 60%;
}

.home_text h1{
    display: inline-block;
    font-size: 48px;
    color: white;
    margin: 0;
}

.home_text h1 span{
    display: inline-block;
    font-size: 48px;
    color: #cda45e;
}

.home_text h2{
    margin: 0;
    font-weight: normal;
    margin-bottom: 40px;
}

#hmbtn2{
    margin-left: 15px;
}

.play-btn {
    width: 100px;
    height: 100px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.5) 50%);
    display: block;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.play-btn::after {
    content: '';
    position: absolute;
    left: 43%;
    top: 38%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    /* transform: rotate(-45deg); */
}
.play-btn::before {
    content: '';
    position: absolute;
    top: -15%;
    left: -15%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: play-btn 2s;
    animation: play-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border: 5px solid #cda45e;
    border-radius: 50%;
}
.play-btn:hover::after {
    border-left: 15px solid #cda45e;
    transform: scale(20);
}
.play-btn:hover::before {
    content: '';
    position: absolute;
    left: 43%;
    top: 38%;
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
    /* transform: rotate(-45deg); */
}
/*-- Animated CSS --*/
@-webkit-keyframes play-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
    }
    @keyframes play-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

.home_top_bar{
    width: 100%;
    height: 8vh;
    position: relative;
    top: 0px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.home_section{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.home_top_bar_span{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.hm_bar_icon{
    color: #cda45e;
}

.home_bar_sec{
    height: 8vh;
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}

.home_top_bar p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav_pos{
    width: 100%;
    height: 8vh;
    /* position: absolute;
    top: 0; */
    
}